body {
	background-color:#FFA9BACO;
	margin: 1%;
	padding: 2%;
}


	h1{
	color:white;
	background-color:orange;
	border-radius:50px;
	fot-family:bold;
	font-weight:bold;
	padding:4%;
	margin:2%;
	}
	
	h2{
	color:white;
	background-color:#673AB7;
	border-radius:50px;
	fot-family:bold;
	font-weight:bold;
	
	padding:4%;
	margin:4%;
	}
	
	.green{
	color:white;
	background-color:#558B2F;
	border-radius:50px;
	fot-family: bold ;
	font-weight:bold;
	font-size:16px;
	padding:2%;
	margin:2%;
	margin-bottom:20%;
	
	}
	
	.green:hover{
	background:#357aa1;
	webkit-transform: scale(1.1);
	webkit-transition-timing-function:ease-out;
	webkit-transition-duration: 100ms;
	
	}
	
	
	
	

	.yellow{
	color:white;
	background-color:#dc9770;
	border-radius:50px;
	fot-family: bold ;
	font-weight:bold;
	font-size:16px;
	padding:2%;
	margin:2%;
	margin-bottom:20%;
	
	
	}
	
	
	
	
	
	.limit{
	margin:1%;
	padding:4%;
	}
	
	hr{
	border:1px solid;
	}
	
	
	
	
	//hovers y evectos.
	

