body {
	background-color: black;
	margin: 1%;
	padding: 2%;
}

p{
	color:white;
	border:solid;
	border-color:  solid, white;
	margin: 1%;
	padding: 2%;
}

h1{
	color:white;
	margin: 1%;
	padding: 2%;
	border:solid;
	border-color: white;
}

h2{
	color:white;
	margin: 1%;
	padding: 2%;
	 border:solid;
	border-color: white;
}

hr{
	color: lighblue;
	margin: 1%;
	
}

span{
	color: yellowgreen;
	margin: 1%;
	padding: 2%;
	
}

.buttonmsg{
	color: white;
	background-color: blue;
	margin: 1%;
	padding: 2%;
	
}